body {
    background: cadetblue;

}

.general {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.screenIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introJuego {
    width: 20em;
    height: 20em;

    background-color: brown;
}

.start {
    width: 10em;
    height: 10em;

    background-color: burlywood;
}


.jugadores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fotoJugador {
    height: 14em;
    width: 12em;
/*
    border: 0.3em solid black;
 */   
}

.jugador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 12em;
    height: 30em;


}
.info {
    width: 12em;
    height: 16em;
    opacity: 0;
}
.fotoJugador:hover + .info{
    background-color: cyan;
    opacity: 1;
}

/* Una vez elegidos los jugadores */

.contenedorContrincantes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.estiloContrincantes {
    height: 14em;
    width: 12em;

    border-radius: 1em;
    border-color: black;
}

.jugadorElegido {
    filter: grayscale(0.70);
}

.botonAtaque {
    height: 3em;
    width: 3em;

    background-color: darkred;
}


